<table class="w-full font-light" cdk-table [dataSource]="products2()">
    <ng-container cdkColumnDef="title">
      <th class="text-left" cdk-header-cell *cdkHeaderCellDef> Title </th>
      <td cdk-cell *cdkCellDef="let element"> {{element.title}} </td>
    </ng-container>
  
    <ng-container cdkColumnDef="cover">
      <th class="text-left" cdk-header-cell *cdkHeaderCellDef> Cover </th>
      <td cdk-cell *cdkCellDef="let element"> <img [src]="element.images[0]" class="w-32" alt="" srcset=""> </td>
    </ng-container>
  
    <ng-container cdkColumnDef="price">
      <th class="text-left" cdk-header-cell *cdkHeaderCellDef> Price </th>
      <td cdk-cell *cdkCellDef="let element"> ${{element.price}} </td>
    </ng-container>
  
    <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
    <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  